body {background: #333; /* Old browsers */
    background: -webkit-linear-gradient(top, #222 0%,#2a0022 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, #222 0%,#2a0022 100%); /* W3C */
    font-family: Share Tech Mono, "Verdana", sans-serif;
    color: green;
    text-align: center;
}

.navbar {
  background: #222;
  border: green;
}

.navbar .table {
  margin-bottom: 0;
}

table, tr, td {
    border: solid 1px green;
    border-radius: 15px 0;
}

input {
    background: none;
    color: white;
    font-size: 17px;
    font-family: Share Tech Mono, "Verdana", sans-serif;
    border: solid green;
    padding: 5px;
    text-align: center;
}

h1 {
    border: double 15px green;
    padding: 15px;
    margin: 10px;
}

strong {
    color: yellow;
}

em {
    color: red;
}

#priority td, #metatypechoice, #magreschoice, .incAtt, .decAtt, .knowButton, .button {
    cursor: pointer;
}

.selected {
    border-color: #0f0;
}

.deact, th {
    background: #040;
    color: #020;
    border-color: #020;
    cursor: default;
}

.deact strong, .deact em {
    color: #020;
}

th {
  color: lightgreen;
  text-align: center;
}

.points {
    padding: 10px;
    margin: 10px;
}

#metatypeContain, #magresContain {
    margin-left: 0;
}

#specialContain, #skillcontainer {
    clear: both;
}

.hide {
    display: none;
}

.active {
    border-color: #0f0;
}

.inventory {
    padding:0;
}

.alert {
    color:black;
    background-color: red;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}